html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  user-select: none;
}

.main {
  display: block;
}

/* PANORAMA */

.panorama {
  position: relative;
  overflow: hidden;
}

.panorama-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/panorama.jpg);
  background-position: center;
  background-size: cover;
}

/* AIRPLANE */

.airplane {
  position: absolute;
  left: 225px;
  top: 0;
  background-image: url(/images/airplane.png);
  background-position: center;
  background-size: cover;
}

.airplane.broken {
  background-image: none;
}

.airplane.broken:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(/images/explosion.gif);
  background-position: center;
  background-size: contain;
}

/* STATUS */

.status {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 1000px;
  list-style: none;
}

.status-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2.5px;
  padding: 10px;
  width: 120px;
  height: 120px;

  text-align: center;
  border-radius: 100%;
  background-color: #f5f5f5;
}

.status-name,
.status-value {
  display: block;
  margin: 0;
}

.status-name {
  padding-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
}

.status-value {
  font-size: 20px;
  font-weight: 300;
  word-break: break-all;
}

/* CONDITIONS */

.conditions {
  display: block;
  margin: 20px 0;
  width: 1000px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
